<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCT eBay Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>    
<body>
    <div class="container">
        <h1 class="text-center">CCT eBay Inventory</h1>
        <div class="form-group">
            <label for="timeFilter">Filter by Time:</label>
            <select id="timeFilter" class="form-control" onchange="filterByTime(this.value)">
                <option value="all">All Time</option>
                <option value="week">Past Week</option>
                <option value="month">Past Month</option>
                <option value="year">Past Year</option>
            </select>
        </div>
        <h2 class="text-center">Inventory</h2>
        <div id="totals">
            <!-- Totals will be inserted here -->
        </div>
        <div class="row" id="entries">
            <!-- Entries will be inserted here -->
        </div>
    </div>

    <script type="text/javascript">
        let entries = <%- JSON.stringify(entries) %>;
        let originalEntries = [...entries]; // Store the original data

        function updateTotals() {
            const totals = {
                listed: 0,
                notListed: 0,
                sold: 0,
                returned: 0,
                listedAmount: 0,
                soldAmount: 0
            };

            for (const entry of entries) {
                switch (entry.status) {
                    case 'Listed':
                        totals.listed++;
                        totals.listedAmount += parseFloat(entry.listed_price.replace(/[^0-9.]/g, ''));
                        break;
                    case 'Not Listed':
                        totals.notListed++;
                        break;
                    case 'Sold':
                        totals.sold++;
                        totals.soldAmount += parseFloat(entry.sold_price.replace(/[^0-9.]/g, ''));
                        break;
                    case 'Returned':
                        totals.returned++;
                        break;
                }
            }

            document.getElementById('totals').innerHTML = `
                <p>Total Listed Items: ${totals.listed}</p>
                <p>Total Not Listed Items: ${totals.notListed}</p>
                <p>Total Sold Items: ${totals.sold}</p>
                <p>Total Returned Items: ${totals.returned}</p>
                <p>Total Dollar Amount for Listed Items: $${totals.listedAmount.toFixed(2)}</p>
                <p>Total Dollar Amount for Sold Items: $${totals.soldAmount.toFixed(2)}</p>
            `;
        }

        function filterByTime(filter) {
            let filteredEntries;
            const now = new Date();

            switch (filter) {
                case 'week':
                    const oneWeekAgo = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 7);
                    filteredEntries = entries.filter(entry => new Date(entry.timestamp) >= oneWeekAgo);
                    break;
                case 'month':
                    const oneMonthAgo = new Date(now.getFullYear(), now.getMonth() - 1, now.getDate());
                    filteredEntries = entries.filter(entry => new Date(entry.timestamp) >= oneMonthAgo);
                    break;
                case 'year':
                    const oneYearAgo = new Date(now.getFullYear() - 1, now.getMonth(), now.getDate());
                    filteredEntries = entries.filter(entry => new Date(entry.timestamp) >= oneYearAgo);
                    break;
                default:
                    filteredEntries = entries;
                    break;
            }

            document.getElementById('entries').innerHTML = '';
            document.getElementById('entries').innerHTML = filteredEntries.map(entry => `
                <div class="col-md-4">
                    <div class="card mb-4 status-${entry.status.toLowerCase().replace(' ', '-')}">
                        <div class="card-body">
                            <h5 class="card-title">${entry.item_name}</h5>
                            <p class="card-text">
                                Status: ${entry.status}<br>
                                Timestamp: ${entry.timestamp}<br>
                                Witness: ${entry.witness}<br>
                                ${entry.status === 'Listed' && entry.listed_price ? `Listed Price: ${entry.listed_price}<br>` : ''}
                                ${entry.status === 'Sold' && entry.sold_price ? `Sold Price: ${entry.sold_price}` : ''}
                            </p>
                        </div>
                    </div>
                </div>
            `).join('');

            entries = filteredEntries;
            updateTotals();
        }

        window.onload = function() {
            filterByTime('all');
                            // Get the drop-down element
            let dropdown = document.getElementById('timeFilter');
            // Add an event listener for the 'change' event
            dropdown.addEventListener('change', function() {
                console.log('change');
                entries = [...originalEntries]; // Reset the inventory here
                filterByTime(dropdown.value);
            });
        };
    </script>
</body>
</html>
