<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCT eBay Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>    
<body>
    <div class="container">
        <h1 class="text-center">CCT eBay Inventory</h1>
        <form action="/add" method="post">
            <div class="form-group">
                <label for="item_name">Item Name:</label>
                <input type="text" name="item_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="witness">Witness:</label>
                <input type="text" name="witness" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="listed_price">Listed Price:</label>
                <input type="text" name="listed_price" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add Entry</button>
        </form>
        <h2 class="text-center">Inventory</h2>
        <div class="row">
            <% entries.forEach(entry => { %>
                <div class="col-md-4">
                    <div class="card mb-4 status-<%= entry.status.toLowerCase().replace(' ', '-') %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= entry.item_name %></h5>
                            <p class="card-text">
                                Status: <%= entry.status %><br>
                                Timestamp: <%= entry.timestamp %><br>
                                Witness: <%= entry.witness %><br>
                                <% if (entry.status === 'Listed' && entry.listed_price) { %>
                                    Listed Price: <%= entry.listed_price %><br>
                                <% } %>
                                <% if (entry.status === 'Sold' && entry.sold_price) { %>
                                    Sold Price: <%= entry.sold_price %>
                                <% } %>
                            </p>
                            <div class="btn-group d-flex flex-wrap" role="group">
                                <button type="button" class="btn btn-info" onclick="updateStatus('<%= entry.id %>', 'Listed')">Listed</button>
                                <button type="button" class="btn btn-warning" onclick="updateStatus('<%= entry.id %>', 'Checked Out')">Checked Out</button>
                                <button type="button" class="btn btn-success" onclick="updateStatus('<%= entry.id %>', 'Sold')">Sold</button>
                                <button type="button" class="btn btn-danger" onclick="updateStatus('<%= entry.id %>', 'Returned')">Returned</button>
                                <button type="button" class="btn btn-danger" onclick="deleteEntry('<%= entry.id %>')">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script>
        function updateStatus(entryId, newStatus) {
            let price = null;
            if (newStatus === 'Sold') {
                price = prompt('Enter the sold price:');
            } else if (newStatus === 'Listed') {
                price = prompt('Enter the listed price:');
            }
            fetch(`/update/${entryId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ status: newStatus, price: price }),
            })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to update status');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function deleteEntry(entryId) {
            fetch(`/delete/${entryId}`, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to delete entry');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
