body {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

.btn-group button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.card {
    border-radius: 15px;
}

.status-sold {
    background-color: #28a745;
    color: white;
}

.status-listed {
    background-color: #007bff;
    color: white;
}

.status-not-listed {
    background-color: #ffffff;
    color: black;
}

.status-returned {
    background-color: #f8d7da;
    color: black;
}
